*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #18191c;
  color: #fff;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
button:focus,
input,
input:focus {
  outline: none;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.button {
  font: normal 14px/14px "Montserrat", sans-serif;
  padding: 8px 12px;
  border: 2px solid #ff4757;
  color: #ff4757;
  border-radius: 12px;
  background-color: transparent;
  transition: border 0.3s;
  cursor: pointer;

  &:hover {
    @media (min-width: 991px) {
      border: 2px solid #ff475750;
    }
  }

  &[disabled] {
    opacity: 0.35;
    pointer-events: none;
    cursor: not-allowed;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  margin-top: 130px;
  margin-bottom: 70px;
  flex: 1 0 auto;
}
